In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import sklearn as sk
data=pd.read_csv("homeprices.csv")
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
model=LinearRegression()
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
print(model)

LinearRegression()

In [2]:
model=LinearRegression()

In [35]:
data.bedrooms.median()

4.0

In [25]:
import math
bedroom_median=math.floor(data.bedrooms.median())
bedroom_median

4

In [26]:
data.bedrooms=data.bedrooms.fillna(bedroommedian)

In [27]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [29]:
reg=linear_model.LinearRegression()

In [33]:
reg.fit(data[["area",'bedrooms','age']],data.price)

LinearRegression()

In [34]:
reg.predict([[3000,4,25]])

array([570272.90028774])

In [ ]:
dir